# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock

# extism binary lib & header
assets/lib/

# teest file downloaded from https://raw.githubusercontent.com/extism/extism/main/manifest/schema.json
test/extism/api/schema.json
test/**/*.log

# use when dev
test/wasm/*.c
test/wasm/*.h
coverage/coverage.json
coverage/lcov.info
